#header h1.title {
    display: none;
}

.book .book-body .page-wrapper a {
    color: #0079B6;
}

p {
    text-align: justify;
    line-height: 1.6;
}

pre > code, pre > code > span {
    line-height: 1.2 !important;
}

.pkg-name,
.pkg-name a,
.pkg-name a:link,
.pkg-name a:visited,
.pkg-name a:hover,
.pkg-name a:active {
    font-style: italic;
    font-weight: bold;
    color: #489FB2 !important;
}


/* Figure */
.figure {
    margin-left: 10rem;    
}

p.caption {
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: start;
}

p.caption .fig-lead {
    font-size: 1.4rem;
    font-weight: bold;
    color: #F25E44;
}


